# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


# emacs
*~
.#*

# Eclipse
.classpath
.settings
.project

# Katalon Studio
/bin/
Libs/
settings/